.screen{
    img{
        width: 102%;
        height: 100%;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: -7px 4px 15px 0px rgb(0 0 0 / 15%);
    }
}